<html lang="en">
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Welcome to the home page</h1>
        <p>click on the links below to go to the other pages</p>
        <a href="/food">Food</a>
        <a href="/occupation">Occupation</a>
    </body>
</html>
